main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font-family: system-ui;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

section img {
  max-width: 750px;
}

.button {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 1000px;
  gap: 10px;
}